# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ilk
*.idb
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Projects
*.sln
*.sdf
*.suo
*.vcxproj
*.user
*.filters
*.opensdf
*.dev
*.layout
*.win
.project
.cproject
*.cbp

# Logs
*.log
*.tlog
*.lastbuildstate

#Other
*.db
*.json
/.vscode/
/nbproject/
*.depend
