# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.tlog
*.tlog
*.log
*.idb
BooleanProject/Debug/vc120.pdb
*.pdb
*.user
*.ipch
*.sdf
*.ipch
*.suo
Project_Lesson.sdf
*.opensdf
ipch/functionproject-2acb9c92/functionproject-816c5d89.ipch
*.pdb
Debug/FunctionProject.pdb
*.suo
Project_Lesson.v12.suo
*.ipch
ipch/functionproject-2acb9c92/functionproject-816c5d89.ipch
*.pdb
Debug/FunctionProject.pdb
*.ilk
Debug/FunctionProject.ilk
*.suo
Project_Lesson.sdf
*.pdb
Debug/FunctionProject.ilk
*.sdf
Project_Lesson.v12.suo
*.suo
Project_Lesson.v12.suo
*.ipch
Project_Lesson.sdf
*.pdb
Debug/FunctionProject.pdb
*.ipch
*.ipch
IO_Project/Debug/vc120.pdb
*.idb
